<h1>mx.widget</h1>

<h2 data-target="turnovers_details">.turnovers()</h2>
<div id="turnovers_details" class="details">
    <p class="description">
        <strong>Описание:</strong>
        Выводит виджет с объемами торгов.
    </p>

    <ul class="signatures">
        <li>
            <h4>
               .turnovers( element, options )
            </h4>
            <p>
                <strong>element</strong>
                DOM-element | объект jQuery | строка, содержащая селектор jQuery.
            </p>
            <p>
                <strong>options</strong>
                Дополнительные параметры
            </p>
            <div class="options">
                <h5>
                    refresh_timeout
                    <span class="type">Number</span>
                </h5>
                <div class="default">
                    <strong>Default:</strong>
                    60 * 1000
                </div>
                <p>
                    Задержка, в миллисекундах, между обновлениями данных в виджете.
                </p>

                <h5>
                    is_tonight_session
                    <span class="type">Boolean</span>
                </h5>
                <div class="default">
                    <strong>Default:</strong>
                    false
                </div>
                <p>
                    Дневная (false) или вечерняя (true) сессия.
                </p>
              
                <h5>
                    engines
                    <span class="type">String, Array</span>
                </h5>
                <div class="default">
                    <strong>Default:</strong>
                    Все рынки
                </div>
                <p>
                    Объемы торгов по определенным рынкам, например, engines: "currency, stock"
                </p>

                <h5>
                    afterRefresh
                    <span class="type">Function</span>
                </h5>
                <p>
                    Функция обратного вызова после обновления виджета.<br />
                    В качестве параметра передается дата обновления данных в виджете.
                </p>
                
                <h5>
                    issCallback
                    <span class="type">Function</span>
                </h5>
                <p>
                    Функция обратного вызова после обновления виджета.<br />
                    В качестве параметра передаются данные результата iss-запроса.
                </p>

            </div>
        </li>
    </ul>

    <div class="about">

        <h3>
          Примеры:
        </h3>

        <h4>
            Пример кода для стилизации:
        </h4>

<pre class="prettyprint"><code>&lt;table class="mx-widget-turnovers"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;td&gt;Объемы торгов&lt;/td&gt;
            &lt;td class="number"&gt;30.11.2011 [РУБ]&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="title"&gt;Фондовый рынок&lt;/td&gt;
            &lt;td class="number"&gt;320 803 796 147&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td class="title"&gt;Валютный рынок&lt;/td&gt;
            &lt;td class="number"&gt;481 980 456 435&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>

        <hr />

        <h4>
          Пример: Объемы торгов (дневная сессия)
        </h4>

<pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;link rel="stylesheet" href="<%= path_to_stylesheet "widgets.css" %>" type="text/css" /&gt;
        &lt;script src="<%= path_to_javascript "mx.widget.js" %>"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;p&gt;
          Дата последнего обновления:
          &lt;span id="turnovers_today_time"&gt;
          &lt;/span&gt;
        &lt;/p&gt;
        &lt;div id="turnovers_today"&gt;
        &lt;/div&gt;
        &lt;script type="text/javascript"&gt;
            $(function() {

              mx.widgets.turnovers('#turnovers_today', {
                // дневная сессия
                is_tonight_session: false,
                // callback вызывается после обновления (параметр: дата обновления)
                afterRefresh: function (time) {
                  $('#turnovers_today_time').html(time.toString());
                }
              });

            });
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>


        <h4>
          Демо
        </h4>

        <p>
          Дата последнего обновления:
          <span id="turnovers_today_time"></span>
        </p>

        <div id="turnovers_today">
        </div>

        <hr />

        <h4>Пример: Объемы торгов (вечерняя сессия):</h4>

<pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;link rel="stylesheet" href="<%= path_to_stylesheet "widgets.css" %>" type="text/css" /&gt;
        &lt;script src="<%= path_to_javascript "mx.widget.js" %>"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id="turnovers_tonight"&gt;
        &lt;/div&gt;
        &lt;script type="text/javascript"&gt;
            $(function() {
                mx.widgets.turnovers('#turnovers_tonight', {
                    // вечерняя сессия
                    is_tonight_session: true,
                    // обновление виджета каждые 15 секунд
                    refresh_timeout: 15 * 1000
                });
            });
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>

        <h4>
          Демо
        </h4>

        <div id="turnovers_tonight">
        </div>

    </div>
</div>


<%- content_for :javascript do -%>

<%= stylesheet_link_tag    "widgets.css"  %>
<%= javascript_include_tag "mx.widget.js" %>
<%= javascript_include_tag "prettify.js"  %>

<script type="text/javascript">

  $(function() {

    prettyPrint();

    mx.widgets.turnovers('#turnovers_today', {
      is_tonight_session: false,
      afterRefresh: function (time) {
        $('#turnovers_today_time').html(time.toString());
      }
    });

    mx.widgets.turnovers('#turnovers_tonight', {
      is_tonight_session: true,
      refresh_timeout: 15 * 1000
    });

    /*
    render_date = function (date, options) {
      var f, formatted_date_string, formatted_time_string;
      if (!(date instanceof Date)) {
          return (date instanceof Date);
      }

      f = function (n) { if (n < 10) { return '0' + n; } else { return '' + n; } };

      options = options || {};
      options.type = options.type || "date";

      formatted_date_string = "" + f(date.getDate())  + "." + f(date.getMonth() + 1) + "." + date.getFullYear();
      formatted_time_string = "" + f(date.getHours()) + ":" + f(date.getMinutes())   + ":" + f(date.getSeconds());

      switch(options.type) {
        case "datetime":
        return formatted_date_string + " / " + formatted_time_string;
        break;

        case "time":
        return formatted_time_string;
        break;

        default:
        return formatted_date_string;
      }
    };
    */

  });

</script>

<%- end %>
