<!DOCTYPE html>
<html>
	<head>
		<title>United Exchange</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "mx.widget.js" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="page_wrapper">
			<%= render 'shared/headline' %>
			<%= render 'shared/header' %>

			<%= render 'shared/navigation' %>

			<div id="content_wrapper">
			    <div class="layout">
    			    <div class="left_column">
    			        <%= yield :left_content %>
    			    </div>
    			    <div class="middle_column">
        				<%= yield %>
    			    </div>
    			    <div class="right_column">
    			        <%= yield :right_content %>
    			    </div>
			    </div>
			</div>
		</div>
		<div id="footer_wrapper">
			<%= render 'shared/footer' %>
		</div>
        <%= yield :javascripts %>
	</body>
</html>
