<!DOCTYPE html>
<html>
	<head>
		<title>Moscow Exchange</title>
		<%= stylesheet_link_tag    "application" %>
        <%= stylesheet_link_tag    "mx.auth.css" %>
        <%= javascript_include_tag "mx.assets.js" %>
		<%= javascript_include_tag "mx.widget.js" %>
        <%= javascript_include_tag "mx.auth.js" %>
        <link rel="shortcut icon" href="http://assets.micex.ru/favicon.ico" />
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="page_wrapper">
			<%= render 'shared/headline' %>
			<%= render 'shared/header' %>

			<%= render 'shared/navigation' %>

	        <div class="top_column">
	            <%= yield :top_content %>
	        </div>

			<div id="content_wrapper">
			    <div class="layout">
    			    <div class="left_column">
    			        <%= yield :left_content %>
    			    </div>
    			    <div class="middle_column">
        				<%= yield %>
    			    </div>
    			    <div class="right_column">
    			        <%= yield :right_content %>
    			    </div>
			    </div>
			</div>
		</div>
		<div id="footer_wrapper">
			<%= render 'shared/footer' %>
		</div>
        <%= yield :javascripts %>
	</body>
</html>
