<!DOCTYPE html>
<html>
	<head>
		<title>United Exchange</title>
        <%= javascript_include_tag "mx.assets.js" %>
		<%= javascript_include_tag "mx.widget.js" %>
        <%= stylesheet_link_tag    "examples.css" %>
        <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
