<!DOCTYPE html>
<html>
	<head>
		<title>Widgets</title>
        <%= javascript_include_tag "mx.assets" %>
        <%= javascript_include_tag "mx.widget.js" %>
        <%= stylesheet_link_tag "table" %>
        <%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
